.grid-section {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  .first-block {
    background: url(./rating/images/01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
  }
  .middile-block {
    background: url(./rating/images/02.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .middile-left {
      background: rgb(192, 137, 120);
      margin: 50px 20px 0 50px;
      height: 480px;
      display: grid;
      grid-template-columns: 5fr 1fr;
      grid-template-rows: 0.2fr 1.4fr 1.8fr;
      .rate1 {
        background: red;
        h2 {
          height: 40px;
          margin: 0 0 2px 0;
          font-family: 'Roboto', sans-serif;
          color: white;
          letter-spacing: 1px;
          font-size: 28px;
          span {
            vertical-align: text-bottom;
            font-weight: normal;
            color: orange;
            letter-spacing: 0;
            font-size: 22px;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            margin: 0;
            padding: 2px;
            float: left;
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-weight: 600;
            font-size: 18px;
            h6 {
              margin: 0;
              padding: 2px;
              float: left;
              color: white;
              font-family: 'Roboto', sans-serif;
              font-weight: normal;
              font-size: 18px;
              opacity: 0.9;
            }
            span {
              margin: 0;
              padding-left: 30px;
              float: left;
              color: white;
              font-size: 18px;
              opacity: 0.9;
            }
            i {
              margin: 0;
              padding: 10px 6px;
              float: left;
              color: white;
              font-size: 6px;
            }
          }
        }
      }
      .rate2 {
        height: 100px;
        div {
          margin: 30px 40px;
          background: white;
          border-radius: 4px;
          width: 75px;
          height: 40px;
          color: black;
          font-size: 20px;
          float: center;
          i {
            margin: 10px;
            float: left;
          }
          p {
            margin: 0;
            padding: 10px;
            font-family: 'Roboto', sans-serif;
          }
        }
      }
      .rate3 {
        grid-column: 1 / span 2;

        display: grid;
        grid-template-columns: 1.5fr 8fr;
        .left {
          i {
            width: absolute;
            color: orange;
            margin: 10px 10px 10px 4px;
            font-size: 110px;
          }
          div {
            margin: -100px 0 0 34px;
            h1 {
              color: orange;
              font-size: 30px;
              font-weight: bold;
              font-family: 'Abril Fatface', cursive;
            }
          }
        }
        .right {
          font-family: 'Roboto', sans-serif;
          color: white;

          .first {
            p {
              margin: 24px 0 0 0;
              big {
                font-size: 16px;
                opacity: 0.7;
                font-family: 'Merriweather', serif;
                font-size: 14px;
              }

              span {
                margin: 0;
                padding: 0 0 0 8px;
                font-size: 16px;
                font-weight: bold;
                color: orange;

                i {
                  padding-right: 8px;
                }
              }
              small {
                i {
                  padding-right: 5px;
                  font-size: 16px;
                  opacity: 0.6;
                }
                b {
                  margin: 0;
                  padding-top: 10px;
                  padding-left: 4px;
                  font-size: 16px;
                }
                big {
                  margin: 0;
                  font-size: 18px;
                  opacity: 0.6;
                }
              }
            }
          }
          .second {
            margin: 9px 0;
            p {
              margin: 0;
              font-size: 16px;
              font-family: 'Roboto', sans-serif;
              small {
                margin: 0;
                font-size: 14px;
                opacity: 0.8;
                padding-right: 5px;
              }
              b {
                margin: 0;
                font-size: 14px;
                opacity: 0.4;
              }
              span {
                margin: 0;
                font-weight: bold;
                font-size: 14px;
              }
            }
          }
          .third {
            ul {
              padding: 0;
              margin: 0;
              li {
                list-style-type: none;
                float: left;
                p {
                  margin: 0;
                  font-size: 14px;
                  padding: 0;
                  font-family: 'Roboto', sans-serif;
                }
                b {
                  margin: 0;
                  font-size: 13px;
                  padding-left: 4px;
                  font-family: 'Roboto', sans-serif;
                  font-weight: bolder;
                  padding-right: 8px;
                }
                div {
                  margin-top: 8px;
                  font-size: 4px;
                  padding: 0 2px;
                }
              }
            }
          }
        }
      }
      .rate3 {
        grid-column: 1 / span 2;
      }
      .rate4 {
        height: 100px;
        color: white;
        h3 {
          margin: 0;
          font-size: 16px;
          font-family: 'Roboto', sans-serif;
          font-weight: bolder;
        }
        p {
          margin: 12px 0 12px 0;
          font-size: 12px;
          font-family: 'Roboto', sans-serif;
          opacity: 0.7;
          line-height: 1.5;
        }
        .profile {
          height: 40px;
          p {
            margin-top: 10px;
            float: left;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
          }
          span {
            margin-top: 10px;
            float: left;
            padding: 2px 2px 0 4px;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
            color: orange;
          }
          div {
            margin-top: 10px;
            padding: 0 8px;
            padding-top: 7px;
            float: left;
            font-size: 4px;
          }
          .icon {
            margin: 4px;
            padding: 0;
            background: white;
            border-radius: 6px;
            width: 32px;
            height: 32px;
            text-align: center;
            i {
              margin-top: 6px;

              font-size: 22px;
              color: black;
            }
          }
          .image {
            margin: 0;
            padding: 0;
            .img1 {
              padding: 0;
              margin: 5px;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background-image: url(./rating/images/05.png);
              background-size: cover;
            }
            .img2 {
              padding: 0;
              margin: 5px;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background-image: url(./rating/images/06.jpg);
              background-size: cover;
            }
            .img3 {
              padding: 0;
              margin: 5px;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background-image: url(./rating/images/07.jpg);
              background-size: cover;
            }
            .img4 {
              padding: 0;
              margin: 5px;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background-image: url(./rating/images/08.jpg);
              background-size: cover;
            }
            .img5 {
              padding: 0;
              margin: 5px;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background-image: url(./rating/images/09.jpg);
              background-size: cover;
            }
          }
        }
        .button {
          margin: 10px;
          padding-top: 30px;
          height: 90px;
          background: silver;
          .btn1 {
            margin-left: 130px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            background: orange;
            width: 130px;
            height: 40px;
            border: none;
            outline: none;
            float: left;
            i {
              margin: 8px;
              padding: 0;
              font-size: 12px;
              float: left;
            }
            p {
              margin: 5px;
              padding: 0;
              font-size: 12px;
              text-align: center;
              font-family: 'Roboto', sans-serif;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
          .btn2 {
            margin: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background: orange;
            width: 40px;
            height: 40px;
            border: none;
            border-left: 1px solid rgb(139, 123, 123);
            outline: none;
            i {
              margin: 8px 0;
              padding: 0;
              font-size: 20px;
            }
          }
          .btn3 {
            margin-left: 30px;
            border-radius: 6px;
            padding: 12px;
            background: white;
            width: 160px;
            height: 40px;
            border: none;
            outline: none;

            i {
              margin: 0;
              padding: 0;
              font-size: 20px;
              float: left;
            }
            p {
              margin: 0;
              padding: 0;
              font-size: 12px;
              text-align: center;
              font-family: 'Roboto', sans-serif;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }
      }
      .rate4 {
        grid-column: 1 / span 2;
      }
    }
    .middile-right {
      background: greenyellow;
    }
  }
  .last-block {
    height: 580px;
    background: url(./rating/images/03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
  }
}
